[Desktop Entry]
Name=tkvoice
Name[pl]=tkvoice
Comment=Frontend for vgetty
Comment[pl]=Frontend dla vgetty
Icon=tkvoice.png
Exec=tkvoice
Terminal=0
Type=Application
# vi: encoding=utf-8
